
/* Header */
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    /* background-color: #90E0EF; */
    justify-content: space-between;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #90E0EF)
}

.header img{
    height: 100px;
    width: 100px; 
    margin-right: 0%;
    margin-left: 25px;
}

.header ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.header li {
    float: left;
    
}

.header li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 4px 4px 4px;
    margin-right: 50px;
    font-size: 19px;
  }

.header li:hover{
    text-decoration: underline;
}

/* Content */

.content {
    margin: 20px;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    background-color: #90E0EF;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.footer .nav ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;

}
.footer .nav li a{
    text-decoration: none;
    color: black;
}

.footer .nav li a:hover{
    text-decoration: underline;
}
.footer .nav h2 {
    margin-left: 44px;
    color: black;
}

.footer .copyright p{
    text-align: center;
}
