<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="stylesheet" href="/static/styles/discussion.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap">
    <title>Discussion Page</title>
</head>

<body>
    <!-- Header -->

    <div class="header">
        <a href="home.html"><img src="/static/images/ctuBuddyLogoTransparentResized.png" alt=""></a>
        <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('timetable')}}">Timetable</a></li>
            <li><a href="{{ url_for('discussion') }}">Discussion</a></li>
            <li><a href="{{url_for('resources')}}">Share Resources</a></li>
            <li id="sign-in"><a href="{{url_for('signin')}}">Sign In | Logout</a></li>
        </ul>
    </div>
    <h1>Discussion</h1>
    <h2>A safe place to ask questions</h2>
    <form method="GET" action="{{ url_for('askQuestion') }}">
        <button type="submit">Ask a question</button>
    </form>
    <section class="discussion">
        {% for question in questions %}
        <article class="post">
            <h2>{{ question.1 }}</h2>
            <p>{{ question.2 }}</p>
            <span class="author">Posted by {{ question.4 }}</span>
            <form method="post" action="/comment">
                <input type="hidden" name="question.0" value="{{ question.0 }}">
                <input type="text" name="comment" placeholder="type a comment">
                <button class="submit" class="comment" name="comment_button">reply</button>
            </form>
            <h3>Comments</h3>
            {% for comment in comments %}
            {% if comment.3 == question.0 %}
            <p>{{comment.2}}: {{comment.1}}</p>
            {% endif %}
            {% endfor %}
        </article>
        {% endfor %}









    </section>

    <div class="footer">
        <div class="nav">
            <h2>Navigation</h2>
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('about')}}">About Us</a></li>
                <li><a href="{{url_for('contact')}}">Contact Us</a></li>
                <li><a href="{{url_for('discussion')}}">Discussion</a></li>
                <li><a href="{{url_for('resources')}}">Share Resources</a></li>
                <li><a href="{{url_for('timetable')}}">Timetable</a></li>
            </ul>

        </div>
        <div class="copyright">
            <p>&#169; CTU Buddy 2023</p>
        </div>
    </div>

</body>

</html>