/* Body Things */
.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, sans-serif;
    background-color: #ddffea;
}

/* Space maker */
.seperate {
    background-color: #ddffea;
}

/* Contact form stuff */
.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ddffea;
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    z-index: 100;
}

h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.heart-icon {
    color: #5cffa8;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
}

input,
textarea {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #50ca76;
    border-radius: 5px;
    width: 850px;
}

button {
    padding: 12px;
    background-color: #50ca76;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    width: 300px;
}

button:hover {
    background-color: #4da56a;
}


input,
textarea {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #50ca76;
}

button {
    padding: 12px;
    background-color: #50ca76;
}

button:hover {
    background-color: #4da56a;
}

input,
textarea {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #50ca76;
}

button {
    padding: 12px;
    background-color: #50ca76;
}

button:hover {
    background-color: #4da56a;
}






