/* Discussion */
h1, h2, button{
    margin-left: 50px;
}

.discussion {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.post {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.post h2 {
    color: #333;
    margin-bottom: 5px;
}

.author {
    font-style: italic;
    color: #777;
}

.like {
    font-size: 15px;
    background-color: red;
    padding: 3px;
}

.reply  {
    font-size: 10px;
    padding: 3px;
}