
/* Header */
* {
    font-family:"Poppins",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to left, #A2FF86, white)
}

.header img{
    height: 100px;
    width: 100px; 
    margin-right: 0%;
    margin-left: 25px;
}

.header ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 5px;
}

.header li {
    float: left;
    
}

.header li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin: 3px;
    padding: 8px 12px;
    border-radius: 15px;
    background-color: #50ca76;
    transition: background-color 0.3s ease;
}

.header li:hover{
    text-decoration: underline;
}

/* Home */

.home-content {
    margin: 10px;
    
}
.home-post{
    margin: 10px;
    display: flex;
    flex-direction: row;
    border: #333 2px;
}

.home-image {
    margin-right: 5px;
}





/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    background-color:  #A2FF86;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.footer .nav ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;

}
.footer .nav li a{
    text-decoration: none;
    color: black;
}

.footer .nav li a:hover{
    text-decoration: underline;
}
.footer .nav h2 {
    margin-left: 44px;
    color: black;
}

.footer .copyright p{
    text-align: center;
}


/* Discussion */

.discussion {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.post {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.post h2 {
    color: #333;
    margin-bottom: 5px;
}

.author {
    font-style: italic;
    color: #777;
}

.like {
    font-size: 15px;
    background-color: red;
    padding: 3px;
}

.reply  {
    font-size: 10px;
    padding: 3px;
}

/* Contact Us */
.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ddffea;
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    border: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.heart-icon {
    color: #5cffa8;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
}

input,
textarea {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #50ca76;
    border-radius: 5px;
}

button {
    padding: 12px;
    background-color: #50ca76;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4da56a;
}

.map {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}
/* About US */
.content{
    margin: 10px;
}


